.productPage {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px;
    width: 50%;
}

.grid {
    width: 70%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.image {
    border-radius: 5%;
}

.productInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    color: white;
}

.textField {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($color: #202020, $alpha: 0.9);
    border-radius: 20px / 20px;
}
